<ul id="post-list">
    {% for post in paginator.posts %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">
                <aside class="dates">{{ post.date | date:"%b %d" }}</aside>
                {{ post.title }}

                {% if post.image %}
                    <img src="{{ post.baseurl }}assets/images/{{ post.image }}"/>
                {% endif %}

                <h2>{{ post.description }}</h2>
            </a>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
